body{
    margin: 50vh 0;
    background: red;
}
canvas {
    top: 0; 
    right: 0;
    position: fixed;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 0 1px red;
}
img { 
    max-height: 12vw; 
}
@media (orientation: profile) {
    img { 
        max-height: 24vw; 
    }    
}
.on { 
    opacity: .5; 
}